#menu
    position: fixed
    width: 200px
    background: $azul
    height: 100vh
    .contenedor
        height: 100%
        padding: 0 30px
        display: flex
        flex-direction: column
        justify-content: space-around
        .logo
        .blog
        .links
            ul
                li
                    margin-bottom: 10px
                    a
                        &:hover
                            text-decoration: underline
                            font-family: $roboto
        .social
            ul
                display: flex
                flex-direction: row
                justify-content: space-around
                img
                    width: 20px