#menu
    .contenedor
        .ham
          .line
          .line
        .logo
            a(href="/")
                img(src="img/logo_blanco.png", alt="DreaMx Logo")
        .blog.roboto.centrar
            a(href="blog.html").blanco El blog
        .links
            ul.centrar.open-italic
                li
                    a(href="nosotros.html").blanco Nosotros
                li
                    a(href="servicios.html").blanco Servicios
                li
                    a(href="portafolio.html").blanco Portafolio
                li
                    a(href="contacto.html").blanco Contacto
        .news.roboto.centrar
            a(href="#").blanco Suscríbete a nuestro News Letter
        .social
            ul
                li
                    a(href="#")
                        img(src="img/instagram.png", alt="Instagram DreaMx")
                li
                    a(href="#")
                        img(src="img/facebook.png", alt="Facebook DreaMx")
                li
                    a(href="#")
                        img(src="img/twitter.png", alt="Instagram DreaMx")
