doctype html
html
    head
        meta(charset="utf-8")
        title DreaMx
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
        link(href="css/main.css", rel="stylesheet")

    body
        #home
            include includes/_menu.pug
            .contenedor-s
                .lead
                    .data
                        .izquierda
                            p Seguidores en instagram: <span>12,312</span> Visitas el día de hoy: <span>3,453</span> Likes en instagram: <span>453,345,343</span>
                        .derecha
                            a(href="#") Descargar
                    .meta
                        h1 Marketing digital, identidad para redes sociales y estrategias personalizadas para que llegues a tu público en internet.
                    .encabezado.roboto
                        span#test
                          noscript Contamos tu historia
                    .texto
                        .izquierda
                            p Hacemos que tu producto sea una experiencia que rompe cualquier barrera para contar la <span>historia</span> de tu marca.
                        .derecha
                            p Somos una agencia enfocada en que tu marca llegue a más personas creando contenido digital para agregar valor a tu <span>historia</span> en cada publicación.
                    .contenedor-video
                        .overlay
                        video(autoplay loop muted)
                            source( src="videos/video.mp4" type="video/mp4")
                            source( src="videos/video.webm" type="video/webm")
                    
        script(src="js/vendor/jquery.min.js")
        script(src="js/dist/functions.js")
